<footer class="border-t border-main">
  <div class="py-5 flex *:text-lightgray *:m-0 *:heebo flex-col md:container md:mx-auto">
    <p>
      © Frontend Mentor 2019 - 2024
    </p>
    <p>
      This website is a collection of completed challenges and web design from 
      <a href="https://frontendmentor.io/" target="_blank" class="underline hover:text-cyan cursor-pointer">
        <strong>Frontend Mentor.</strong>
      </a>
    </p>
  </div>
</footer>