* {
  padding: 0;
  min-width: 0;
  font: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
video,
svg iframe {
  display: block;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100dvh;
  font-size: 100%;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin: 0;
}

p {
  text-wrap: pretty;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1;
}

p {
  text-wrap: pretty;
  line-height: 1;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}